*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-primary: #a259ff;
  --color-white: white;
  --color-gray-300: #858584;
  --color-gray-400: #3b3b3b;
  --color-gray-500: #2b2b2b;

  /* fonts */
  --font-primary: "Work Sans", sans-serif;
  --font-secondary: "Space Mono", monospace;

  /* typographys */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi: 600;
  --font-weight-bold: 700;

  --line-height-normal: 1.4;

  /* semantic colors */
  --color-bg: var(--color-gray-500);
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-white);
}

ul,
ol {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  /* inherit la ke thua */
  color: inherit;
  font: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  color: var(--color-gray-500);
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  /*giup giu nguyen ti le hinh anh */
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semi);
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 17px 48px;
  border-radius: 20px;
  line-height: 22px;
  font-weight: var(--font-weight-semi);
  border: 2px solid transparent;
  transition: filter 0.3s;
}

.btn:hover {
  filter: brightness(110%);
}

.btn.btn-primary {
  background-color: var(--color-primary);
}

.btn.btn-small {
  padding: 19px 30px;
}

.btn.btn-white {
  background-color: var(--color-white);
  color: var(--color-gray-500);
}

.btn.btn-outline {
  border-color: var(--color-primary);
}

.btn.btn-trending {
  padding: 32.5px 15px;
  line-height: 1.6;
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.section {
  padding: 80px 0;
}

.section-hero .section-heading {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.hero-info,
.hero-media {
  flex: 1;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-hero .section-title {
  font-size: 67px;
  line-height: 110.00000000000001%;
}

.section-hero .section-subtitle {
  margin-top: 20px;
}

.hero-achieve-list {
  display: flex;
  gap: 30px;
}

.hero-achieve-item {
  width: calc((100% - 60px) / 3);
  display: flex;
  flex-direction: column;
}

.hero-achieve-item span:first-child {
  font-family: var(--font-secondary);
  font-size: 28px;
  font-weight: var(--font-weight-bold);
}

.hero-achieve-item span:last-child {
  font-size: 23.99px;
  line-height: 1.6;
}

.hero-media {
  overflow: hidden;
  border-radius: 20px;
}

.hero-media .nft-info {
  background-color: var(--color-gray-400);
  padding: 22px 20px;
}

.nft-info-title {
  font-size: 22px;
  font-weight: var(--font-weight-semi);
}

.nft-info-box {
  display: flex;
  gap: 12px;
  margin-top: 10px;
  align-items: center;
}

.section-heading:has(.section-btn) {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section-title {
  font-size: 38px;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: var(--font-weight-semi);
}

.section-subtitle {
  margin-top: 10px;
  font-size: 22px;
  line-height: 1.6;
  text-transform: capitalize;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.nav {
  display: flex;
  gap: 10px;
}

.list {
  margin-top: 60px;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link {
  position: relative;
  font-weight: var(--font-weight-semi);
  padding: 12px 20px;
}

.menu-link::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  transform: translateX(-50%);
  transition: width 0.3s;
}

.menu-link:hover::after {
  width: calc(100% - 40px);
}

.logo {
  width: 244px;
}

.trending-list {
  display: flex;
  gap: 30px;
}

.trending-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc((100% - 60px) / 3);
}

.trending-item-secondary {
  display: flex;
  gap: 15px;
  width: calc((100% - 30px) / 3);
}

.trending-item-btn {
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: var(--font-weight-bold);
}

.creator-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.creator-item {
  width: calc((100% - 90px) / 4);
}

.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-400);
  padding: 20px;
  border-radius: 20px;
}

.creator-image {
  width: 120px;
  height: 120px;
  border-radius: 999px;
  overflow: hidden;
}

.creator-info {
  margin-top: 20px;
  text-align: center;
}

.creator-rank {
  position: absolute;
  top: 18px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-gray-500);
  border-radius: 999px;
}

.creator-name {
  font-size: 22px;
}

.creator-sales {
  display: flex;
  margin-top: 5px;
  gap: 10px;
}

.coin {
  font-family: var(--font-secondary);
}

.label {
  color: var(--color-gray-300);
}

.category-item {
  position: relative;
}

.category-card {
  background-color: var(--color-gray-400);
  border-radius: 20px;
  overflow: hidden;
}

.category-img-icon {
  background: #ffffff1a;
  backdrop-filter: blur(7.5px);
  width: 240px;
  height: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
}

.category-title {
  padding: 20px 30px 25px;
  font-size: 22px;
  font-weight: var(--font-weight-semi);
}

.nfts-item {
  width: calc((100% - 60px) / 3);
  background-color: var(--color-gray-400);
  border-radius: 20px;
}

.nfts-content {
  padding: 20px 30px 25px;
}

.nfts-info {
  margin-bottom: 25px;
}

.nfts-info .nft-info-box {
  margin-top: 5px;
}

.nfts-price-list {
  display: flex;
  justify-content: space-between;
}

.nfts-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nfts-price .label {
  font-size: 12px;
  line-height: 110.00000000000001%;
}

.nfts-price .coin {
  font-family: var(--font-secondary);
}

.right {
  text-align: right;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.work-card {
  padding: 10px 30px 30px;
  height: 100%;
}

.work-card-info {
  margin-top: 20px;
  text-align: center;
}

.word-card-title {
  font-size: 22px;
  font-weight: var(--font-weight-semi);
}

.work-card-content {
  margin-top: 10px;
}

.join-item {
  display: flex;
  padding: 60px;
  gap: 80px;
  background-color: var(--color-gray-400);
  border-radius: 20px;
  align-items: center;
}

.join-img,
.join-content {
  flex: 1;
}

.join-mail {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.input {
  padding: 21px 20px;
  border-radius: 20px;
  width: 100%;
}

.btn.btn-mail {
  padding-left: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Reponsive web design */

/* Break point */

/* desktop: 1920px */
/* laptop: 1280px */
/* tablet: 1024px */
/* mobile: 768px */
